.contactMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 75vh;
    gap: 3em;
    margin-top: 4em;
}

.contactCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 0 0 5em 0;
    padding: 1.5em;
    border-radius: 1.5em;
    font-family: 'Red Hat Display', sans-serif;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
}

/* .contactCard:hover{
    background-color: rgba(119, 119, 119, 0.301);
    transition: 300ms all ease;
} */

.email{
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: transparent;
}

.socials{
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: transparent;
}

.contactCard p{
    font-size: 1.2em;
    background-color: transparent;
}

.licon, .gicon{
    font-size: 1.5em;
    background-color: transparent;
    cursor: pointer;
}

.emailIcon{
    font-size: 2em;
    background-color: transparent;  
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    height: 5em;
    margin: 1em;
}

.footer a{
    font-size: 1em;
}

.footer p{
    display: flex;
    align-items: center;
    color: #777777;
}

@media (max-width: 1000px) and (min-width: 376px){
    .contactCard{
        flex-direction: column;
        width: 70%;
        gap: 0.5em;
    }

    .socials{
        gap: 0.3em;
    }
}

@media (max-width: 375px){
    .contactMain{
        margin-top: 5em;
    }

    .contactCard{
        flex-direction: column;
        width: 60%;
        gap: 0.5em;
    }

    .socials{
        gap: 0.3em;
    }
    
    .contactCard p{
        font-size: 0.8em;
    }

    .emailIcon{
        font-size: 1.3em;
    }

    .footer p{
        font-size: 0.8em;
    }
}