.homeMain{
    /*height: 80vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*width: 100%;*/
}

.intro1{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 6em;
    font-family: 'DM Serif Display', serif;
}

.intro2{
    font-size: 4em;
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'DM Serif Display', serif;
}

.description{
    margin-top: 1%;
    text-align: center;
    font-size: 1.7em;
    font-weight: 100;
    line-height: 1.5em;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
}

.location{
    margin-top: 1%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.3%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
    line-height: 1.5em;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
}

.location p{
    color: #777777;
}

/*@media (max-width: 1024px) and (min-width: 430px){*/
/*    .homeMain{*/
/*        height: 90vh;*/
/*    }*/

/*    .intro1, .intro2{*/
/*        text-align: center;*/
/*        font-size: 2.2em;*/
/*    }*/

/*    .description{*/
/*        margin: 1% 11%;*/
/*        text-align: center;*/
/*        font-size: 1.3em;*/
/*        font-weight: 100;*/
/*        line-height: 1.5em;*/
/*    }*/

/*    .location{*/
/*        font-size: 0.9em;*/
/*     }*/
/*}*/

/*@media (max-width: 430px) {*/
/*    .homeMain{*/
/*        height: 100vh;*/
/*    }*/

/*    .intro1, .intro2{*/
/*        text-align: center;*/
/*        font-size: 2em;*/
/*        margin: 0 1em;*/
/*    }*/

/*    .description{*/
/*        margin: 1% 15%;*/
/*        font-size: 1em;*/
/*        font-weight: 400;*/
/*        line-height: 1.5em;*/
/*    }*/

/*    .location{*/
/*       font-size: 0.9em;*/
/*    }*/

/*    br{*/
/*        display: none;*/
/*    }*/
/*}*/