.aboutMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5em 0;
    height: 100vh;
}

.aboutSectionCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
    width: 100%;
}

.aboutSectionCard{
    width: 65%;
    padding: 2%;
    margin: 1em;
    border-radius: 1.5em;
    font-family: 'Red Hat Display', sans-serif;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    display: flex;
}

.title{
    background-color: transparent;
    width: 55%;
    padding-left: 1em;
}

.jobTitle{
    font-size: 1.6em;
    line-height: 1.5em;
    background-color: transparent;
}

.company{
    font-size: 1.2em;
    line-height: 1.5em;
    background-color: transparent;
}

.skills{
    line-height: 1.5em;
    font-size: 1em;
    background-color: transparent;
}

.body{
    line-height: 1.8em;
    background-color: transparent;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li{
    font-size: 1.2em;
    color: rgb(155, 155, 155);
    background-color: transparent;
}

@media (max-width: 1600px) and (min-width: 376px){
    .aboutMain{
        height: 100vh;
    }

    .aboutSectionCards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2.5em;
        width: 100%;
    }

    .aboutSectionCard{
        display: flex;
        width: 70%;
        margin: 1em 2em;
    }

    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .jobTitle{
        font-size: 1.5em;
        line-height: 1.5em;
        background-color: transparent;
    }
    
    .body{
        font-size: 0.8em;
        line-height: 1.8em;
    }

    .skills{
        font-size: 0.9em;
    }
}


@media (max-width: 375px) {   
    .aboutSectionCards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
    }

    .aboutSectionCard{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin: 1em 2em;
        padding: 0.7em;
    }

    .title{
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    
    .jobTitle{
        font-size: 1.2em;
        line-height: 1.5em;
    }

    .company{
        font-size: 0.8em;
    }
    
    .body{
        width: 90%;
        font-size: 0.6em;
        line-height: 1.8em;
        margin-top: 1em;
    }

    .skills{
        font-size: 0.7em;
        line-height: 1.2em;
        margin: 0.6em 0;
    }
}