.workMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.workCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
    width: 100%;
}

.workCard{
    width: 65%;
    padding: 2%;
    margin: 1em 0;
    border-radius: 1.5em;
    font-family: 'Red Hat Display', sans-serif;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
}

.workCard:hover{
    background-color: rgba(119, 119, 119, 0.301);
    transition: 300ms all ease;
}

.projectTitle{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: transparent;
}

.projectName{
    font-size: 1.6em;
    line-height: 1.5em;
    background-color: transparent;
}

a{
    background-color: transparent;
}

.projectIcon{
    font-size: 1.6em;
    background-color: transparent;
    cursor: pointer;
}

.projectIcon:hover{
    transition: 200ms all ease;
}

.projectDesc{
    margin-top: 0.5em;
    font-size: 1.2em;
    line-height: 1.5em;
    background-color: transparent;
    color: rgb(155, 155, 155);
}

.projectTech{
    margin-top: 1em;
    font-size: 1.2em;
    line-height: 1.5em;
    background-color: transparent;
    color: white;
}

@media (max-width: 1600px) and (min-width: 376px){
    .workCards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1.5em;
        width: 100%;
    }

    .workCard{
        width: 70%;
        padding: 2%;
        margin: 0.8em;  
    }

    .projectName{
        font-size: 1.5em;
        line-height: 1.5em;
    }

    .projectDesc{
        font-size: 1.1em;
        line-height: 1.5em;
    }
    
    .projectTech{
        margin-top: 1em;
        font-size: 1.1em;
        line-height: 1.8em;
    }
}

@media (max-width: 375px) {
    .workCards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1em;
        width: 100%;
    }

    .workCard{
        width: 70%;
        padding: 4% 5%;
        margin: 0.8em;  
    }

    .projectName{
        font-size: 1em;
        line-height: 1.5em;
    }

    .projectDesc{
        font-size: 0.7em;
        line-height: 1.5em;
    }
    
    .projectTech{
        margin-top: 1em;
        font-size: 0.6em;
        line-height: 1.8em;
    }
}