.skillMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.skillMain .head{
    margin-bottom: 1em;
}

.skillRow{
    display: flex;
    margin-top: 2.5em;
}

.skillRow p{
    margin: 0em 2em;
    width: 5em;
    padding: 1em;
    text-align: center;
    background-color: rgba(54, 54, 54, 0.301);
    border-radius: 1.5em;
    font-size: 1.2em;
    cursor: default;
    font-family: 'Red Hat Display', sans-serif;
}

.skillRow p:hover{
    background-color: rgba(119, 119, 119, 0.301);
    transition: 300ms all ease;
}

@media (max-width: 1024px) and (min-width: 376px){
    .skillMain{
        height: 90vh;
    }

    .skillrows{
        display: flex;
    }

    .skillRow{
        flex-direction: column;
        gap: 1em;
    }
    
}

@media (max-width: 375px){
    .skillrows{
        display: flex;
    }

    .skillRow{
        flex-direction: column;
        gap: 1em;
        margin-top: 1em;
    }

    .skillRow p{
        font-size: 0.7em;
    }
    
}