*{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

.head{
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 0.2em;
  font-family: 'DM Serif Display', serif;
}

.head span{
  color: rgb(155, 155, 155);
}

@media (max-width: 800px) and (min-width: 376px){
  .head{
    font-size: 1.7em;
  }
}

@media (max-width: 375px){
  .head{
    font-size: 1.25em;
  }
}